<!DOCTYPE html>
{% load user_tags %}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exams</title>
    {% load staticfiles %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {{ form.media }}
   </head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="/">Exams PG</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
         {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'main-packages' %}">Exams <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'main-create-package' %}">Submit new exam</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'main-test-template' %}" >Download template</a>
      </li>
             <li class="nav-item">
        <a class="nav-link" href="{% url 'main-manage-tokens' %}" >Manage tokens</a>
      </li>
        {% endif %}
    </ul>
    <ul class="navbar-nav navbar-right my-2 my-lg-0">
        {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link disabled">Logged as {{ request.user.username }}</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'main-logout' %}">Logout</a></li>
        {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'main-register' %}">Register</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'main-login' %}">Log in</a></li>
        {% endif %}
    </ul>
  </div>

    </nav>
    <div class="container body-content">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

{% block content %} {% endblock %}
        <!--<hr/>-->
        <!--<footer>-->
            <!--<p>&copy; {{ year }} - Projekt grupowy PG</p>-->
        <!--</footer>-->
    </div>
{% block scripts %}{% endblock %}
<script type="application/javascript">
    $('input[type="file"]').change(function(e){
        var fileName = e.target.files[0].name;
        $('.custom-file-label').html(fileName);
    });
</script>

</body>
</html>
