{% extends "app/layout.html" %}

{% load crispy_forms_tags %}
{% block content %}
<p></p>
<div class="container-fluid">
        <div class="row">
        <section id="registerForm">
            <form method="POST">
                {% csrf_token %}
                <fieldset class = "form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Register" class="btn btn-primary" />
                </div>
            </form>
        </section>
        <section id="socialRegisterForm"></section>
        </div>
</div>

{% endblock %}


{% block scripts %}

    {% load staticfiles %}


{% endblock %}
