{% extends "app/layout.html" %}
{% load user_tags %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <h2 style="display:inline">Token management</h2>
            </div>
            <div class="card-text">
                <a class="btn btn-info" href="{% url 'main-token' %}">Add token</a>
            </div>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">Token</th>
                <th scope="col">Begin</th>
                <th scope="col">Expires</th>
                <th scope="col">Manage</th>
            </tr>
            </thead>
            {% for token in tokens %}
                <tr>
                    <td>
                        <article class="media content-section">
                            {{ token.token }}
                        </article>
                    </td>
                    <td>
                        {{ token.begin|date:"F d, Y H:i" }} UTC
                    </td>
                    <td>
                        {{ token.expires|date:"F d, Y H:i" }} UTC
                    </td>
                    <td>
                        {% if token.is_active %}
                            <a class="btn btn-danger" href="{% url 'main-token-expire' token.id %}">Expire</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% if is_paginated %}
            <ul class="nav justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="nav-item">
                        <a class="btn btn-outline-info mb-4" href="?page=1">First page</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous
                            page</a>
                    </li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="nav-item">
                            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="nav-item">
                            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="nav-item">
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next page</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last
                            page</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
{% endblock %}