{% extends "app/layout.html" %}
{% load user_tags %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h2>{{ title }}</h2>
        </div>
        <div class="card-body">
            <section id="registerForm">
                <form method="POST" enctype="multipart/form-data">
                    <div class="input-group">
                        {% csrf_token %}
                        <fieldset>
                            {{ form|crispy }}
                            <input type="submit" value="Submit" class="btn btn-primary"/>
                        </fieldset>

                    </div>
                </form>
            </section>
        </div>
    </div>

{% endblock %}


{% block scripts %}

    {% load staticfiles %}


{% endblock %}
