{% extends "app/layout.html" %}
{% load user_tags %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <h2 style="display:inline">{{ package.name }} <small
                        class="text-muted">{{ package.date_created|date:"F d, Y" }}</small></h2>
            </div>
            {% if package.status == 'processing' %}
                <meta http-equiv="refresh" content="5">
                <div class="card-text">
                    <a class="btn btn-danger disabled" href="#">Delete</a>
                    <a class="btn btn-info disabled" href="#">Download report</a>
                    <a class="btn btn-info disabled" href="#">Add filled exam</a>
                    <a class="btn btn-info disabled" href="#">Reevaluate</a>
                    <a class="btn btn-primary disabled" href="#">Modify</a>
                </div>
            {% elif package.status == 'error' %}
                <div class="card-text">
                    <a class="btn btn-danger" data-toggle="collapse" href="#deleteForm" role="button"
                       aria-expanded="false"
                       aria-controls="deleteForm">
                        Delete
                    </a>
                    <a class="btn btn-info disabled" href="#">Download report</a>
                    <a class="btn btn-info" href="{% url 'main-package-pdf' package.id %}">Download pdf</a>
                    <a class="btn btn-info disabled" href="#">Add filled exam</a>
                    <a class="btn btn-info disabled" href="#">Reevaluate</a>
                    <a class="btn btn-primary disabled" href="#">Modify</a>
                </div>
                <div class="collapse" id="deleteForm">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <br/>
                            <div class="alert alert-danger" role="alert">
                                Are you sure you want to delete this exam?
                                <input type="submit" value="Confirm" class="btn btn-danger"/>
                            </div>

                        </div>
                    </form>
                </div>
            {% else %}
                <div class="card-text">
                    <a class="btn btn-danger" data-toggle="collapse" href="#deleteForm" role="button"
                       aria-expanded="false"
                       aria-controls="deleteForm">
                        Delete
                    </a>
                    <a class="btn btn-info" href="{% url 'main-package-raport' package.id %}">Download report</a>
                    <a class="btn btn-info" href="{% url 'main-package-pdf' package.id %}">Download pdf</a>
                    <a class="btn btn-info" href="{% url 'main-test-create' package.id %}">Add filled exam</a>
                    <a class="btn btn-info" href="{% url 'main-package-reevaluate' package.id %}">Reevaluate</a>
                    <a class="btn btn-primary" data-toggle="collapse" href="#updateForm" role="button"
                       aria-expanded="false"
                       aria-controls="updateForm">
                        Modify
                    </a>
                </div>
                <div class="collapse" id="updateForm">
                    <form method="POST">
                        {% csrf_token %}
                        {% if package.user == None %}
                            <div class="alert alert-primary col-md-11 col-md-offset-2 text-center" role="alert">
                                This test was probably uploaded by FTP server, changing owner to other than yourself will result in no access to this exam.
                            </div>
                        {% endif %}
                        <div class="form-row">
                            <div class="form-group col-md-3 mb-0">
                                {{ update_form.name|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-2 mb-0">
                                {{ update_form.user|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-3 mb-0">
                                {{ update_form.score_mode|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-2 mb-0">
                                <br/>
                                <br/>
                                {{ update_form.allow_negative|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-2 mb-0">
                                <br/>
                                <input type="submit" value="Submit" class="btn btn-primary"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="collapse" id="deleteForm">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <br/>
                            <div class="alert alert-danger" role="alert">
                                Are you sure you want to delete this exam?
                                <input type="submit" value="Confirm" class="btn btn-danger"/>
                            </div>

                        </div>
                    </form>
                </div>
            {% endif %}
        </div>
        <div class="card-body">
            {% if package.status == 'processing' %}
                <div class="alert alert-primary col-md-2 col-md-offset-2 text-center" role="alert">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    {{ package.status }}...
                </div>
            {% elif package.status == 'error' %}
                <div class="alert alert-danger col-md-4 col-md-offset-2 justify-content-md-center" role="alert">
                    <div class="row text-center mx-auto justify-content-md-center">
                        <img src="{% url 'main-static' 'error_flat_png' %}">
                    </div>
                    <div class="row text-center mx-auto justify-content-md-center" align="center">
                        {{ package.error_message }}
                    </div>
                    <div class="row text-center mx-auto justify-content-md-center" align="center">
                        Check log file for further info.
                    </div>
                </div>
            {% endif %}
            {% if ref_tests %}
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th scope="col" class="w-25">A</th>
                        <th scope="col" class="w-25">B</th>
                        <th scope="col" class="w-25">C</th>
                        <th scope="col" class="w-25">D</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            {% for ref_test in ref_tests %}
                                {% if ref_test.test_group == 'A' %}
                                    <b><a class="article-title" href="{% url 'main-test-detail' ref_test.id %}">Reference
                                        test</a></b>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for ref_test in ref_tests %}
                                {% if ref_test.test_group == 'B' %}
                                    <b><a class="article-title" href="{% url 'main-test-detail' ref_test.id %}">Reference
                                        test</a></b>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for ref_test in ref_tests %}
                                {% if ref_test.test_group == 'C' %}
                                    <b><a class="article-title" href="{% url 'main-test-detail' ref_test.id %}">Reference
                                        test</a></b>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for ref_test in ref_tests %}
                                {% if ref_test.test_group == 'D' %}
                                    <b><a class="article-title" href="{% url 'main-test-detail' ref_test.id %}">Reference
                                        test</a></b>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            {% endif %}
            <form method="GET">
                <div class="form-row">
                    <div class="form-group col-md-5 mb-0">
                        {{ filter.form.student_index__contains|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-2 mb-0">
                        {{ filter.form.test_group|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-2 mb-0">
                        <br/>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
                {# {{ filter.form|crispy }}#}
            </form>
        </div>
        {% if page_obj.object_list|length > 0 %}
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col" class="w-10">#</th>
                    <th scope="col" class="w-45">Student index</th>
                    <th scope="col" class="w-35">Acquired points</th>
                    <th scope="col" class="w-10">Group</th>
                </tr>
                </thead>
                <tbody>
                {% for test in page_obj.object_list %}
                    {#{% for test in tests %}#}
                    <tr>
                        <th scope="row">{% get_test_number forloop.counter page_obj.number %}</th>
                        <td>
                            <h3><a href="{% url 'main-test-detail' test.id %}">{{ test.student_index }}</a></h3>
                        </td>
                        <td>
                            {{ test.acquired_points }}
                        </td>
                        <td>
                            {{ test.test_group }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if is_paginated %}
                {% get_params_without_page request.GET as params %}
                <ul class="nav justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="nav-item">
                            <a class="btn btn-outline-info mb-4"
                               href="{{ params }}page=1">First page</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-info mb-4"
                               href="{{ params }}page={{ page_obj.previous_page_number }}">Previous
                                page</a>
                        </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="nav-item">
                                <a class="btn btn-info mb-4"
                                   href="{{ params }}page={{ num }}">{{ num }}</a>
                            </li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li class="nav-item">
                                <a class="btn btn-outline-info mb-4"
                                   href="{{ params }}page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="nav-item">
                            <a class="btn btn-outline-info mb-4"
                               href="{{ params }}page={{ page_obj.next_page_number }}">Next
                                page</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-info mb-4"
                               href="{{ params }}page={{ page_obj.paginator.num_pages }}">Last
                                page</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
