{% extends "app/layout.html" %}
{% load user_tags %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card">
    <div class="card-header">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="card-title">
                    <div class="row">
                        <h2>
                            <a href="{% url 'main-package-detail' object.package.id %}">
                                <div class="col col-md-12s mb-0">
                                    <svg class="bi bi-arrow-left-square-fill" width="1em" height="1em"
                                         viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <a href="{% url 'main-package-detail' object.package.id %}">
                                            <path fill-rule="evenodd"
                                                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.354 10.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z"/>
                                    </svg>
                                    {{ object.package.name }}
                                </div>
                            </a>
                        </h2>
                    </div>
                    <div class="row">
                        {% if test.is_reference %}
                            <div class="col col-md-4 mb-0">
                                <h4>Reference test</h4>
                            </div>
                        {% else %}
                            <div class="col col-md-4 mb-0">
                                <h4>Student index: {{ test.student_index }}</h4>
                            </div>
                            <div class="col col-md-3 mb-0">
                                <h4>Acquired points: {{ test.acquired_points }}</h4>
                            </div>
                            <div class="col col-md-2 mb-0">
                                <h4>Group: {{ test.test_group }}</h4>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="card-text">
                    {% if not test.is_reference %}
                        <a class="btn btn-danger" data-toggle="collapse" href="#deleteForm" role="button"
                           aria-expanded="false"
                           aria-controls="deleteForm">
                            Delete
                        </a>
                        <a class="btn btn-info" href="{% url 'main-test-reevaluate' test.id %}">Reevaluate</a>
                    {% endif %}
                    <a id="toogle" class="btn btn-info" href="#" onclick="toogleEvaluation()">Show evaluation</a>
                    <a class="btn btn-primary" data-toggle="collapse" href="#updateForm" role="button"
                       aria-expanded="false"
                       aria-controls="updateForm">
                        Modify
                    </a>
                    <div class="collapse" id="updateForm">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                {% if test.is_reference %}
                                    <div hidden>
                                {% endif %}
                                <div class="form-group col-md-3 mb-0">
                                    {{ test_update_form.student_index|as_crispy_field }}
                                </div>
                                {% if test.is_reference %}
                                    </div>
                                {% endif %}
                                <div class="form-group col-md-2 mb-0">
                                    {{ test_update_form.test_group|as_crispy_field }}
                                </div>
                                {% if not test.test_group in ref_tests_groups or test.is_reference %}
                                    <div class="form-group col-md-2 mb-0">
                                        <br/>
                                        {{ test_update_form.is_reference|as_crispy_field }}
                                    </div>
                                {% endif %}
                                <div class="form-group col-md-2 mb-0">
                                    <br/>
                                    <input type="submit" value="Submit" class="btn btn-primary"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="collapse" id="deleteForm">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <br/>
                                <div class="alert alert-danger" role="alert">
                                    Are you sure you want to delete this test?
                                    <input type="submit" value="Confirm" class="btn btn-danger"/>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
        <div class="card-body">

            {% for image in images %}
                <div class="row row-eq-height">
                    <div class="col col-md-8 mb-0">
                        <img id="image_{{ image.image.id }}" src="{% url 'main-img' image.image.id %}" class="img-fluid"
                             style="border:2px solid black"/>
                        <canvas tag="myCan" id="myCanvas_{{ image.image.id }}" style="position:absolute"></canvas>
                    </div>
                    <div class="col col-md-4 mb-0">
                        <table class="table table-bordered table-hover"
                               style="overflow-y:auto;height:1000px;width:100%;display:block">
                            <thead>
                            <tr>
                                <th scope="col" class="w-5">#</th>
                                <th scope="col" class="w-25">Points</th>
                                <th scope="col" class="w-70">Answer detected</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for answer in image.answers %}
                                <tr>
                                    <td>
                                        {{ answer.answer_id }}
                                    </td>
                                    <td>
                                        {{ answer.acquired_points }}
                                    </td>
                                    <td>
                                        {% for i in possible_answers %}

                                            <input type="checkbox"
                                                   size="4"
                                                   name="{{ i }}"
                                                   onclick="sendChange('{{ i }}', {{ image.image.id }}, {{ answer.answer_id }}, this.checked)"
                                                    {% if i in answer.evaluated_value.upper %}
                                                   checked
                                                    {% endif %}
                                            />
                                            <label for="{{ i }}">{{ i }}</label>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
        <script>
            var evaluationShown = false;

            function drawRectangle(ctx, start, size) {
                ctx.fillStyle = "#00FF0030";
                ctx.fillRect(start.x, start.y, size.x, size.y);
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }

                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            });

            async function sendChange(answer_letter, image_id, answer_id, value) {
                $.when($.post("/image/" + image_id + "/answer/" + answer_id + "/update/" + answer_letter + "/" + value)).done(function () {
                        if (evaluationShown) {
                            let canvass = document.getElementsByTagName("canvas");
                            for (let canvas of canvass) {
                                canvas.getContext("2d").clearRect(0, 0, canvas.width, canvas.height);
                            }
                            $.get(
                                "{% url 'main-test-images' test.id %}",
                                function (response, _) {
                                    draw(response);
                                });
                        }
                    }
                )

            }

            function drawAnswer(ctx, answer, scaleWidth, scaleHeight, answerNumber) {
                let xPadding = 20;
                let yPadding = 10;
                let x1 = (answer['x1'] + xPadding) * scaleWidth;
                let x2 = (answer['x2']) * scaleWidth;
                let y1 = (answer['y1'] + yPadding) * scaleHeight;
                let y2 = (answer['y2'] - yPadding) * scaleHeight;
                let sizeX = (x2 - x1) / answerNumber;
                let sizeY = (y2 - y1);
                let asci_a = 'A'.charCodeAt(0);
                for (let value of answer['value']) {
                    let idx = value.charCodeAt(0) - asci_a;
                    let startPoint = {};
                    startPoint.x = x1 + sizeX * idx;
                    startPoint.y = y1;
                    let size = {};
                    size.x = sizeX;
                    size.y = sizeY;
                    drawRectangle(ctx, startPoint, size);
                }
            }

            function drawTest(cnvs, data, answerNumber) {
                let scaleWidth = cnvs.width / data['width'];
                let scaleHeight = cnvs.height / data['height'];
                let ctx = cnvs.getContext("2d");
                for (let answer in data['answers']) {
                    drawAnswer(ctx, data['answers'][answer], scaleWidth, scaleHeight, answerNumber);
                }
            }

            function draw(data) {
                for (let imgID in data) {
                    let img = document.getElementById("image_" + imgID);
                    let cnvs = document.getElementById("myCanvas_" + imgID);

                    cnvs.style.left = img.offsetLeft + "px";
                    cnvs.style.top = img.offsetTop + "px";

                    cnvs.width = img.width
                    cnvs.height = img.height

                    drawTest(cnvs, data[imgID], 4);
                }
            }

            function toogleEvaluation() {
                if (evaluationShown) {
                    let canvass = document.getElementsByTagName("canvas");
                    document.getElementById("toogle").innerText = "Show evaluation";
                    for (let canvas of canvass) {
                        canvas.getContext("2d").clearRect(0, 0, canvas.width, canvas.height);
                    }
                    evaluationShown = false;
                } else {
                    $.get(
                        "{% url 'main-test-images' test.id %}",
                        function (response, _) {
                            document.getElementById("toogle").innerText = "Hide evaluation";
                            draw(response);
                            evaluationShown = true;
                        });
                }
            }
        </script>

    </div>
{% endblock %}
